{% extends 'template.twig' %}

{% block content %}
  <div class="container main-content">
    {% if page.contentTitle != '' %}
      <h1>{{ page.contentTitle }}</h1>
    {% endif %}
    <div class="row">
      <div class="col-12 mb-4">
        {{ page.content|raw }}
      </div>
    </div>
      {% include 'general/sections/staff.twig' %}
  </div>

{% endblock %}
