{% extends 'template.twig' %}

{% block content %}
  <div class="container main-content">
    {% if page.contentTitle != '' %}
      <h1 class="text-center">{{ page.contentTitle|raw }}</h1>
    {% endif %}
    <div class="row">
      <div class="col-12 mb-6">
        {{ page.content|raw }}
      </div>
    </div>
      {% include 'general/sections/team.twig' %}
  </div>
 
{% endblock %}
