// Everything box-sizing
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 9px;

  @include above($LAPTOP-BREAKPOINT) {
    font-size: 10px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

// These already have explicit widths and heights, so we don't want borders or padding to squash them
canvas,
embed,
iframe,
img,
object,
video {
  box-sizing: content-box;
}

/*** element styles ***/

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: $CONTENT-FONT;

  //noinspection CssUnknownProperty
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-size: 1.8rem;
}

@include headings {
  margin: 0 0 2rem;
  font-family: $HEADING-FONT;
  font-weight: 300;
  line-height: 1.4;
}


h1 {
  font-size: 2.8rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
  /* @include underline(center);*/

  @include above($XL-BREAKPOINT) {
    font-size: 3.1rem;
  }

  @include above($LAPTOP-BREAKPOINT) {
    font-size: 3.8rem;
  }
}


h2 {
  font-size: 2.5rem;

  @include above($LG-BREAKPOINT) {
    font-size: 2.7rem;
  }
}

h3 {
  font-size: 2.2rem;
  font-weight: $LIGHT;
}

h4 {
  font-size: 2.2rem;
  color: $PRIMARY-HIGHLIGHT;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 3rem;
}

p,
span,
a,
ul,
ol {
  font-size: inherit;
  line-height: 1.6;
}

li {
  font-size: inherit;
  line-height: 1.4;
}

li:not(.nav-item) {
  margin-bottom: 0.75rem;
}

ul,
ol {
  padding-left: 20px;
  list-style-position: outside;
}

a {
  color: $PRIMARY-HIGHLIGHT;
  text-decoration: none;

  &:hover:not(.button),
  &:active:not(.button),
  &:focus:not(.button) {
    color: $PRIMARY-HOVER;
    transition: color ease-in-out 0.5s;
  }

  img {
    border: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
button {
  &:disabled {
    opacity: 0.5;
  }
}

/*** globally relevant styles ***/
.container.main-content {
  // padding-top: 8rem;
  // padding-bottom: 12rem;
}

.button {
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
  display: inline-block;
  font-size: 1.4rem;
  padding: 1.75rem 3rem;
  font-weight: $REGULAR;
  text-transform: uppercase;
  background: $SECONDARY-HIGHLIGHT;
  color: #fff;
  font-family: $HEADING-FONT;
  cursor: pointer;
  text-decoration: none;
  border: none;

  @include hover {
    background: $SECONDARY-HOVER;
    text-decoration: none;
  }


  &.light {
    background: #fff;
    color: $SECONDARY-HIGHLIGHT;
    border: 2px solid $SECONDARY-HIGHLIGHT;

    @include hover {
      background: $SECONDARY-HIGHLIGHT;
      color: #fff;
    }
  }
}

/** These styles can be added to images and media through TinyMCE */

.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.float-right {
  float: right;
  margin-bottom: 20px;
  margin-left: 10px;
}

.float-left,
.float-right {
  text-align: center;

  @include responsive {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

.centre-block {
  display: block;
  margin: 10px auto;
  text-align: center;

  img,
  iframe,
  video {
    display: inline-block;
  }
}

/** End TinyMCE image/media styles */

.map {
  flex: 1;
  display: flex;

  iframe {
    width: 100%;
    height: 350px;

    @include above($LG-BREAKPOINT) {
      height: 450px;
    }


    @include above($NAV-BREAKPOINT) {
      // height: 700px;
    }
  }
}

.message {
  color: $WARNING-COLOUR;
}

.pagination {
  text-align: center;

  > * {
    display: inline-block;
    border-left: 1px solid $DARK-NEUTRAL-COLOUR;
    padding: 0 10px;

    // audio browsers may simply read out a rapid-fire string of numbers without this
    pause-after: medium;

    &:first-child {
      border-left: none;
    }
  }

  .current {
    font-weight: bold;
  }
}

//simple accordion alternative
.activator {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-right: 40px;
  background: $NEUTRAL-COLOUR;

  //#252b2d;
  font-size: 21px;
  font-family: $HEADING-FONT;
  color: $DARK-COLOUR;

/*  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 3px;
    background: $DARK-COLOUR;
    transition: transform 0.2s;
  }*/

  &:after {
    transform: rotate(90deg);
  }

  &.open {
    background: $PRIMARY-HIGHLIGHT;
    color: $LIGHT-COLOUR;

    &:before,
    &:after {
      background: $LIGHT-COLOUR;
    }

    &:after {
      transform: rotate(0deg);
    }
  }
}

.fader {
  padding: 15px;
}

.struct {
  display: none;
}

@include below($RESPONSIVE-BREAKPOINT) {
  .mobile-hide {
    display: none;
  }
}


/* float clearing usually applied to <br /> sometimes div or span  */
/* DEPRECATED use @extend clearfix */
.clear {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  height: 1px;
  width: 99%;
}

/*** section styles ***/
body > [role=banner],
main {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.container {
  max-width: $CONTENT-WIDTH;
}

main {
  // needs display: block to resolve MS Edge issue
  display: block;
}

.content {
  padding: 20px 0;
}

.columns {
  display: flex;
  flex-wrap: wrap;

  &:before,
  &:after {
    display: none;
  }
}

.col-2 {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  @include responsive {
    width: 100%;
  }


  &:nth-child(even) {
    padding-left: 25px;

    @include responsive {
      padding-left: 0;
    }
  }

  &:nth-child(odd) {
    padding-right: 25px;

    @include responsive {
      padding-right: 0;
    }
  }
}

.sidebar {
  float: left;
  width: 270px;

  @include below(1000px) {
    float: none;
    width: auto;
  }
}

.has-sidebar {
  float: right;
  width: calc(100% - 300px);

  @include below(1000px) {
    float: none;
    margin-top: 30px;
    width: auto;
  }
}

footer {
  z-index: 0;
  font-weight: $LIGHT;
  background-color: $PRIMARY-HIGHLIGHT;
  color: #000;

  p, a, span {
    font-size: 1.5rem;
    color: #000;
  }

  a {
    &:hover:not(.button),
    &:active:not(.button),
    &:focus:not(.button) {
      color: #000;
    }
  }

  h4 {
    font-size: 2.4rem;
    /*font-weight: $BOLD;*/
    color: #000;
  }

  .site-footer {
    p {
      line-height: 1.7;
      margin-bottom: 0;
    }

    .col-12:not(:last-child) {
      margin-bottom: 5rem;

      @include above($LG-BREAKPOINT) {
        margin-bottom: 0;
      }
    }
  }

  .sub-footer {
    background-color: $LIGHT-BACKGROUND;
    p, a, span {
      font-size: 1.4rem;
      color: #000;
      margin-bottom: 1.5rem;

      a:hover {
        color: #000;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

img.auth {
  vertical-align: middle;
}

.users {
  th:first-child {
    width: 20%;
  }

  th:last-child {
    width: 40%;
  }
}

/* search results */
.content .searchForm {
  text-align: center;

  label {
    display: block;
    text-align: center;
  }

  input[type="text"] {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 263px);
    width: 300px;

    @include below($RESPONSIVE-BREAKPOINT) {
      margin-bottom: 5px;
      max-width: 100%;
      width: 100%;
    }
  }

  .button {
    vertical-align: middle;
  }
}

.search-results {
  article {
    display: flex;
    border-bottom: 1px solid $BORDER-COLOUR;
    padding: 2rem;

    &:last-child {
      border: none;
    }

    &.has-image {
      .search-content {
        width: calc(100% - 615px);
      }
    }

    h5 {
      margin-top: 20px;
      margin-bottom: 3px;
    }

    p {
      line-height: initial;
    }

    .search-image {
      display: block;
      height: auto;
      margin-right: 3rem;
      max-width: 280px;

      &:after {
        display: none;
      }

      img {
        display: block;
      }
    }
  }

  ul {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  li a {
    display: inline;
    padding: 0;
  }
}

.sidebar.search-results {
  img {
    float: none;
    margin: 0.5em 0;
  }
}

// classes

.bg-dark {
  background-color: $DARK-BACKGROUND;
  color: #fff;
}

.bg-black {
  background-color: #000;
  color: #fff;
}

.bg-light {
  background-color: $LIGHT-COLOUR;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: $BORDER-COLOUR;
}

.bg-light-grey {
  background-color: #f2f2f2;
}

.bg-primary {
  background-color: $PRIMARY-HIGHLIGHT;
  color: #fff;
}

.bg-secondary {
  background-color: $SECONDARY-HIGHLIGHT;
  color: #fff;
}

.text-dark {
  color: $TEXT-DARK;
}

a,
span,
p {
  &.text-dark {
    color: $TEXT-DARK;
  }
}

.text-white {
  &,
  &:hover {
    color: #fff;

    &:not(.button) {
      color: #fff;
    }
  }
}

.text-black {
  &,
  &:hover {
    color: #000;
  }

  a {
    color: #000;
  }
}

a,
span,
p {
  &.text-black {
    color: #000;
  }
}

a,
span,
p {
  &.text-white {
    color: #fff;
  }
}

.text-primary {
  color: $PRIMARY-HIGHLIGHT;
}

.text-secondary {
  color: $SECONDARY-HIGHLIGHT;
}

a,
span,
p {
  &.text-primary {
    color: $PRIMARY-HIGHLIGHT;
  }
}

.text-bold {
  font-weight: 600;
  font-size: inherit;
}

.text-underline {
  text-decoration: underline;
}

.underline-links a {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

.no-underline,
a.no-underline {
  text-decoration: none !important;
}

hr {
  height: 1px;
  background-color: $LIGHT-BACKGROUND;
  border: none;
}

.pos-relative {
  position: relative;
}

.pos-static {
  position: static !important;
}

.text-large {
  font-size: 3rem;
}

.nowrap {
  flex-wrap: nowrap;
}

.contact-icons {
  width: 20px;
}

.break-word {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}
