// homepage design tends to vary from the rest of the site; for easy management homepage specific
// styles should go in here rather than bulking up _main.scss

// to account for sticky nav, must add padding to top of body
body {
  padding-top: 83.97px;
    @include above($NAV-BREAKPOINT) {
      padding-top: 0;
    }
}

// banner

.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;

  @include above($LG-BREAKPOINT) {
    height: 550px;
  }

  @include above($LAPTOP-BREAKPOINT) {
    height: 788px;
  }
}

.content-wrapper {
  background: $LIGHT-BACKGROUND;
  padding: 20px;

  @include above($LAPTOP-BREAKPOINT) {
    padding-top: 0;
    padding-bottom: 0;
  }


  .main-content {
    padding: 4rem;
    background-color: #fff;
    box-shadow: 0 0 46px 0 rgba(181, 210, 217, 0.4);

    @include above($LAPTOP-BREAKPOINT) {
      position: relative;
      top: -4rem;
      margin-bottom: 6rem;
    }


    a:not(.button) {
      color: #000;

      &:hover {
        color: lighten(#000, 30%);
      }
    }
  }
}

// hover effects for project photos
@include above($LG-BREAKPOINT) {
  a.project-img-container {
    display: flex;
    position: relative;

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      display: block;
      background-color: rgba(52, 66, 73, 0.6);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }
}

// page specific

.Home {
  .main-content {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    position: static;
    margin-bottom: 0;

    @include above($LG-BREAKPOINT) {
      margin-bottom: 6rem;
    }


    .col-12 {
      @include above($LAPTOP-BREAKPOINT) {
        position: relative;
        top: -5rem;
      }


      &:first-child .bg-white {
        padding: 4rem;
        box-shadow: 0 0 46px 0 rgba(181, 210, 217, 0.4);
      }
    }
  }
}


  .slideshow {
    button.slick-arrow {
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 0;
      top: auto;
      width: 50px;
      height: 50px;

      &.slick-next {
        right: auto;
        left: calc(50% + 1px);

        &::before {
          left: calc(50% - 8px);
        }
      }

      &.slick-prev {
        right: calc(50% + 1px);
        left: auto;

        &::before {
          right: calc(50% + 8px);
        }
      }

      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }

  .slide {
    position: relative;

    figcaption {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: #fff;
    }
  }
