// homepage design tends to vary from the rest of the site; for easy management homepage specific
// styles should go in here rather than bulking up _main.scss

// to account for sticky nav, must add padding to top of body
/*body {
  padding-top: 83.97px;
    @include above($NAV-BREAKPOINT) {
      padding-top: 0;
    }
}*/

// banner

/*.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;

  @include above($LG-BREAKPOINT) {
    height: 550px;
  }

  @include above($LAPTOP-BREAKPOINT) {
    height: 788px;
  }
}*/

.content-wrapper {
  background: #fff;

  @include above($LAPTOP-BREAKPOINT) {
    padding-top: 0;
    padding-bottom: 0;
  }


  .main-content {
    padding-top: 4rem;
    background-color: #fff;
    /* box-shadow: 0 0 46px 0 rgba(181, 210, 217, 0.4);*/

    @include above($LAPTOP-BREAKPOINT) {
      // so text doesn't stretch full width of content area
      p {
        max-width: 100ch;
        margin-left: auto;
        margin-right: auto;
      }
    }

    a:not(.button) {
      color: #000;

      &:hover {
        color: lighten(#000, 30%);
      }
    }
  }
}

// hover effects for project photos
/*@include above($LG-BREAKPOINT) {
  a.project-img-container {
    display: flex;
    position: relative;

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      display: block;
      background-color: rgba(52, 66, 73, 0.6);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }
}*/

// team page
.team-container {

  .col-12 {
    padding-left: 0.6rem;
    padding-right: 0.6rem;

    .team-img {
      display: flex;
      text-align: center;
      border: 1px solid $PRIMARY-HIGHLIGHT;
    }
  }

  .team-text {
    text-align: center;

    h3 {
      font-size: 2rem;
      background-color: $PRIMARY-HIGHLIGHT;
      padding: 0.5rem 2rem;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.Home {

  .treatments-text {

    a.activator {
      background-color: $SECONDARY-HIGHLIGHT;
      padding: 2rem 1rem;
      @include hover {
        background: $SECONDARY-HOVER;
        text-decoration: none;
      }
    }

    h3 {

      &, & p {
        color: #fff;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 1.8rem;
      }
    }

    .fader {
      display: none;
      padding: 4rem 0 2rem;
      border-bottom: 2px solid $SECONDARY-HIGHLIGHT;
      border-top: 2px solid $SECONDARY-HIGHLIGHT;
      width: calc(100% - 40px);
      background-color: #fff;
      z-index: 2;
      position: absolute;
      left: 20px;


      // contact us/cta
      a {
        color: $SECONDARY-HIGHLIGHT;
        @include hover {
          color: $SECONDARY-HOVER;
        }
      }
    }
  }

  .treatments-img {
    img {
      width: 100%;
    }
  }

  // gallery caruousel
  // so next row is hidden while js loads/if js is disabled
  /*.arrow-container {
    position: relative;
  }
*/

  .row.home-carousel {
   /* max-height: 353px; */// matches thumbnail height in universal
    /*overflow: hidden;
    position: static;*/
  }

  // light-gallery custom styles for gallery carousel
  .lg-backdrop {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

// style differently if javascript
/*
.javascript {
  .row.home-carousel {
   position: relative;
    overflow: visible;
  }

  .arrow-container {
    position: static;
  }
}
*/


