// applies to all slideshows by default
.slideshow {
  &.banner, &.banner#cta-banner {
    height: $SLIDESHOW-RESPONSIVE-HEIGHT;

    @include above($LAPTOP-BREAKPOINT) {
      height: $SLIDESHOW-HEIGHT;
    }
  }

  // container
  @extend %clearfix;

  // MAIN SLIDESHOW
  //// note: arrows and dots turned on/off in javascript

  /// desktop sizing
  /// scss to calculate the aspect ratio from the dimensions as defined in the slide classs (width / height)
  /// this scales the slide no matter the screen width
  /// a max-height can be used on .slide to override this for really wide screen.
  $height: calc(100% * #{453 / 2560});
  $main-height: calc(100% * #{823 / 2560});

  // mobile sizing (fixed height)
  $responsive-height: $SLIDESHOW-RESPONSIVE-HEIGHT;

  overflow: hidden;
  position: relative;

  /// mobile-first
  background: #fff;

  &.banner, &.banner#cta-banner {
    .slick-slider {
      height: 353px;
    }

    .slick-list, .slick-track, .slider, .slide, .background-image {
      height: 100%;
    }


  // for wrapping text content
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .col-12 {
      /*@include below(1600) {
        padding-left: 11rem;
        padding-right: 11rem;
      }*/

      @include above(1349) {
        .text-container-inner {
          padding-left: 4rem;
        }
      }

      @include below(1350) {
        padding-left: 8rem;
        padding-right: 8rem;

      }


      @include below($XL-BREAKPOINT) {
        padding-left: 4rem;
        padding-right: 4rem;
      }


      @include below($RESPONSIVE-BREAKPOINT) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .text-container {
      display: none;
      text-align: left;

      h2 {

        margin-bottom: 0;

        &:not(:last-child) {
          margin-bottom: 4rem;
        }

        br {
          display: none; // br tag from basic editor adds height
        }

        &, p {
          max-width: 19ch;
          text-transform: none;
          color: #000;
          font-size: 3rem;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
        }
      }

      p {
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
        font-size: 2.2rem;
        text-transform: uppercase;
        color: #000;
        font-weight: 300;
        margin-bottom: 0;

        @include above($LG-BREAKPOINT) {
          max-width: 50ch;
        }
      }

      @include above($MD-BREAKPOINT) {
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        background: $PRIMARY-HIGHLIGHT; // default to this if gradient not supported
        background: linear-gradient(to right, $PRIMARY-HIGHLIGHT, 84%, transparent);
      }
    }
  }


  }

  .slide + .slide {
    display: none;
  }

  .slick-initialized .slide {
    display: block;
  }

  // slides
  //// slide elements
  .slide {
    overflow: hidden;
    position: relative;
    background-color: $LIGHT-COLOUR;
    margin: 0;
    padding: 0;
    width: 100%;

    img {
      height: auto;
      width: 100%;
    }

    .background-image {
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: '';
        display: block;
        position: relative;
        padding-top: $responsive-height;

        @include above($SLIDESHOW-BREAKPOINT) {
          padding-top: $height;
        }


        html.Main & {
          @include above($SLIDESHOW-BREAKPOINT) {
            padding-top: $main-height;
          }
        }
      }
    }

    .small-screen {
      @include above($SLIDESHOW-BREAKPOINT) {
        display: none;
      }
    }

    .small-screen + .big-screen {
      display: none;

      @include above($SLIDESHOW-BREAKPOINT) {
        display: block;
      }
    }

    .caption {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      //noinspection CssOptimizeSimilarProperties
      background-position: center top;

      //noinspection CssOptimizeSimilarProperties
      background-repeat: no-repeat;
      color: $DARK-COLOUR;
      text-align: left;
      text-transform: none;
      transition: all 0.2s;

      @include above($RESPONSIVE-BREAKPOINT) {
        align-items: center;
      }


      @include above($MAX-WIDTH) {
        right: 0;
        left: 0;
      }


    }
  }
}


.slideshow {
  button.slick-arrow {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0;
    top: auto;
    width: 50px;
    height: 50px;

    &.slick-next {
      right: auto;
      left: calc(50% + 1px);

      &::before {
        left: calc(50% - 8px);
      }
    }

    &.slick-prev {
      right: calc(50% + 1px);
      left: auto;

      &::before {
        right: calc(50% + 8px);
      }
    }

    &::before {
      width: 16px;
      height: 16px;
    }
  }
}

.slide {
  position: relative;

  figcaption {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
  }
}

//// navigation
button.slick-arrow {
  $arrow-inset: 40px;
  $arrow-inset-sm: 0;
  $arrow-dimension: 60px;
  $arrow-dimension-sm: 40px;

  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  background: transparent;
  text-indent: -9999px;
  cursor: pointer;

  @include below($RESPONSIVE-BREAKPOINT) {
    //have to override an inline style
    display: none !important;
  }


  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid transparent;
    border-top-color: $LIGHT-COLOUR;
    border-left-color: $LIGHT-COLOUR;

    @include below($XL-BREAKPOINT) {
      height: $arrow-dimension-sm;
      width: $arrow-dimension-sm;
    }


    height: $arrow-dimension;
    width: $arrow-dimension;
  }

  @include hover {
    opacity: 0.8;
  }


  &.slick-prev {
    //noinspection CssOverwrittenProperties
    @include below($XL-BREAKPOINT) {
      left: $arrow-inset-sm;
    }


    left: $arrow-inset;

    &:before {
      transform: translateX(50%) translateX(#{$arrow-dimension / 4}) rotate(-45deg);
      right: 50%;
    }
  }

  &.slick-next {
    //noinspection CssOverwrittenProperties
    @include below($XL-BREAKPOINT) {
      right: $arrow-inset-sm;
    }


    right: $arrow-inset;

    &:before {
      transform: translateX(50%) translateX(-#{$arrow-dimension / 4}) rotate(135deg);
      right: 50%;
    }
  }
}

ul.slick-dots {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 20px;
  left: 30px;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    border: 1px solid $DARK-NEUTRAL-COLOUR;
    border-radius: 50%;
    height: 12px;
    margin: 0 0 0 5px;
    padding: 0;
    width: 12px;
    background: transparent;
    text-indent: -1000000px;
  }

  li.slick-active {
    border: 1px solid $DARK-NEUTRAL-COLOUR;
    background: $DARK-NEUTRAL-COLOUR;
  }

  li:hover {
    cursor: pointer;
  }
}

// homepage-specific height

.Home {

  .arrow-container {
    overflow-y: hidden;
    overflow-x: auto;
    max-height: $SLIDESHOW-HEIGHT;
  }


  .home-carousel .slick-slide {
    padding: 0;
  }

  .slideshow, .slick-slider {

    &.banner {
      @include above($NAV-BREAKPOINT) {
        height: $SLIDESHOW-HOMEPAGE-HEIGHT;
      }

      .text-container {
        text-align: center;

        @include above($MD-BREAKPOINT) {
          background: rgba($LIGHT-BACKGROUND, 0.7);
        }

        .text-container-inner {
          padding-left: 0;
        }

        h2 {
          &, p {
            margin-bottom: 0;
            color: #000;
            font-size: 3rem;
            line-height: 1.4;
            font-weight: 500;
            text-transform: none;

            @include above($NAV-BREAKPOINT) {
              font-size: 4rem;
            }
          }
        }


        // paragraph not nested in html
        p {
          max-width: 18ch;
          @include above($LAPTOP-BREAKPOINT) {
            max-width: 12ch;
          }
        }


      }

      .button {
        margin-top: 4rem;
        @include above($NAV-BREAKPOINT) {
          margin-top: 0;
          position: relative;
          top: 4rem;
        }
      }
    }
  }
}

// use primary color in banner for pages with Page pagetype
.Page {

  .slideshow, .slick-slider {

    &.banner .wrapper .text-container {

      @include above($MD-BREAKPOINT) {
        background: linear-gradient(to right, $SECONDARY-HIGHLIGHT, 84%, transparent);
      }

      h2, p {
        color: #fff;
      }

    }
  }
}

// styles for homepage carousel

// carousel arrows
.home-carousel {
  .slide-arrows {
    visibility: hidden;

    @include above($MD-BREAKPOINT) {
      visibility: visible;
      display: inline-block;
      font-size: 4rem;
      position: absolute;
      top: calc(50% - 25px);
      cursor: pointer;
    }

    &.icon-angle-left {
      left: -4rem;
    }

    &.icon-angle-right {
      right: -4rem;
    }
  }
}

// specific styles for the cta banner

.slideshow {

  &.banner#cta-banner .wrapper .text-container {

    @include above($MD-BREAKPOINT) {
      background: linear-gradient(to right, $SECONDARY-HIGHLIGHT, 80%, transparent);
    }

    h2, p, h2 p {
      color: #fff;
    }

    // titles
    h2 {

      &, &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    h2 p {
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    p.subtitle {
      margin-bottom: 1.5rem;
    }

    p.description {
      text-transform: none;
      color: #000;
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    .button {
      margin-top: 0;
      background-color: $SECONDARY-HIGHLIGHT;
      color: #fff;
      border: 2px solid #fff;
      position: static;

    }
  }
}

.mobile-cta-banner {

  h2, p, h2 p {
    color: #fff;
  }

  // titles
  h2 {

    &, &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  h2 p {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  p.subtitle {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }


  p.description {
    text-transform: none;
    color: #000;
  }

  .button-container {
    text-align: center;
  }

  .button {
    background-color: $SECONDARY-HIGHLIGHT;
    color: #fff;
    border: 2px solid #fff;
    position: static;

    @include hover {
      background-color: #fff;
      color: $SECONDARY-HIGHLIGHT;

    }
  }
}


