// COLOURS
$PRIMARY-HIGHLIGHT: #a7e8a2;
$PRIMARY-HOVER: darken($PRIMARY-HIGHLIGHT, 10%);
$PRIMARY-HOVER-2X: darken($PRIMARY-HIGHLIGHT, 20%); // added for dental nz bc primary colour very light
$SECONDARY-HIGHLIGHT: #344249;
$DARK-COLOUR: #000;
$LIGHT-COLOUR: #bdc1c2;
$NEUTRAL-COLOUR: #626262;
$DARK-NEUTRAL-COLOUR: #30312e;
$LIGHT-NEUTRAL-COLOUR: #e4dfce;
$WARNING-COLOUR: #fd1a00;
$TEXT-DARK: #6b6b6b;
$BORDER-COLOUR: $LIGHT-COLOUR;
$DARK-BACKGROUND: $SECONDARY-HIGHLIGHT;
$LIGHT-BACKGROUND: #eaeaea;

// BODY and CONTENT
$CONTENT-WIDTH: 1440px;
$LAPTOP-CONTENT-WIDTH: 1200px;
$MAX-WIDTH: $CONTENT-WIDTH + 20px;
$BACKGROUND: #fff;

$CONTENT-FONT: "DM Sans", sans-serif;
$HEADING-FONT: "Montserrat", sans-serif;

// Font weights
$THIN: 100;
$EXTRA-LIGHT: 200;
$LIGHT: 300;
$REGULAR: normal;
$MEDIUM: 500;
$SEMI-BOLD: 600;
$BOLD: bold;
$EXTRA-BOLD: 800;
$BLACK: 900;

// BREAKPOINTS (used in conjunction with above / below / between mixins)
//// where headers / footers / sidebar / slideshow need to collapse or rearrange completely
$RESPONSIVE-BREAKPOINT: 600px;
$SLIDESHOW-BREAKPOINT: $RESPONSIVE-BREAKPOINT;

//// where menu will no longer fit across page
$MENU-TOGGLE-BREAKPOINT: $LAPTOP-CONTENT-WIDTH;
$LAPTOP-BREAKPOINT: 1460px;

// More BREAKPOINTS (based on Bootstrap 4)
$SM-BREAKPOINT: 575;
$MD-BREAKPOINT: 767;
$LG-BREAKPOINT: 991;
$XL-BREAKPOINT: 1199;

$NAV-BREAKPOINT: $XL-BREAKPOINT;
