{% extends "account/sections/base-page.twig" %}
{% block account_heading %}
	Update your account details
{% endblock %}
{% block account_content %}
	<form action="/Account/Action/Update-Details/" method="post">
		{% include("forms/text-field.twig") with
			{
				"label": "Name",
				"name": "name",
				"value": user.name,
				"required": true
			} only %}
		{% include("forms/email-field.twig") with
			{
				"label": "Email Address",
				"name": "email",
				"value": user.email,
				"required": true
			} only %}
		{% include("forms/password-field.twig") with
			{
				"label": "Password (leave blank to remain the same)",
				"name": "password"
			} only %}
		{% include("forms/submit-button.twig") with {"label": "Update"} %}
	</form>
{% endblock %}
