{% extends 'template.twig' %}

{% block content %}
	<h1>
		Reset your password
	</h1>
	<p>
		Please enter your new password
	</p>
	<form action="/Account/Action/Reset-Password/" method="post">
		{% if message %}
			<p class="error">
				{{ message }}
			</p>
		{% endif %}
		{% include("forms/hidden-field.twig") with
		{
			"name": "requestId",
			"value": requestId
		} only %}
		{% include("forms/hidden-field.twig") with
		{
			"name": "token",
			"value": token
		} only %}
		{% include("forms/password-field.twig") with
		{
			"label": "New Password",
			"name": "password",
			"required": true
		} only %}
		{% include("forms/submit-button.twig") with {"label": "Reset Password"} %}
	</form>
{% endblock %}
