{% extends 'template.twig' %}

{% block content %}
	<div class="content">
		<h1>
			Reset your password
		</h1>
		<p>
			Please enter your email address and we'll send you an email containing a password reset link.
		</p>
		<form action="/Account/Action/Reset-Password-Request/" method="post">
			{% if message %}
				<p class="error message">
					{{ message|raw }}
				</p>
			{% endif %}
			{% include("forms/email-field.twig") with
			{
				"label": "Email Address",
				"name": "email",
				"required": true
			} only %}
			{% include("forms/captcha.twig") %}
			{% include("forms/submit-button.twig") with {"label": "Send"} %}
		</form>
	</div>
{% endblock %}
