{% extends 'template.twig' %}

{% block content %}
	<div class="content">
		<h1>
			Email sent
		</h1>
		<p>
			You have been sent an email containing a link to reset your password. You should receive it soon, although in some cases emails can take a few minutes to arrive. Please click on the link contained within the email to reset your password.
		</p>
	</div>
{% endblock %}
