<form name="searchform" id="searchform" action="/search.php" method="GET" enctype="multipart/form-data">
	<!-- <label for="search">search</label> -->
	<input name="search" id="search" type="text" value="" placeholder="Search site..." />
	<!-- <input name="searchbutton" id="searchbutton" type="submit" value="go" /> -->
</form>
